// Text colors
$color-body-text: var(--color-body-text);

// Background colors
$color-body: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);

// // Helper colors for form error states
// $color-disabled: #000000;
// $color-disabled-border: #000000;
// $color-error: #ff6d6d;
// $color-error-bg: #ffffff;
// $color-success: #000000;
// $color-success-bg: #000000;

// Typography
$font-heading: var(--font-heading);
$font-heading-weight: var(--font-heading-weight);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Layout dimmensions
$grid-gutter: 30px;
$grid-medium: 40em;
$grid-large: 70em;

// Breakpoints
$small: (max: $grid-medium);
$medium: (min: $grid-medium + 0.1, max: $grid-large);
$medium-down: (max: $grid-large);
$medium-up: (min: $grid-medium + 0.1);
$large: (min: $grid-large + 1);